{% extends 'base.html.twig' %}

{% block title %}Ferrovipath - {{ profil.pseudo }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="mb-0">Profil-Modification</h1>
        </div>
        <div class="card-body">
            <div class="row text-center d-flex justify-content-center ">
                <div class="col-md-6">
                    <ul class="list-group mb-4">
                        {{ form_start(modifyForm) }}
                            {{ form_row(modifyForm.pseudo) }}
                            {{ form_row(modifyForm.email) }}
                            {{ form_row(modifyForm.plainPassword, {
                                label: 'Password'
                            }) }}
                            {{ form_row (modifyForm.birth) }}
                            {{ form_row(modifyForm.save, { 'label': 'Mettre à jour le profil' }) }}
                        {{ form_end(modifyForm) }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}