{% extends 'base.html.twig' %}

{% block title %}Ferrovipath - {{ profil.pseudo }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="mb-0">Profil</h1>
        </div>
        <div class="card-body">
            <div class="row text-center d-flex justify-content-center ">
                <div class="col-md-6">
                    <table class="table shadow-sm" border=1>
                        <tr> 
                            <th scope="col">Email : </th>
                            <td>{{ profil.email }}</td>
                        </tr>
                        
                        <tr>
                            <th scope="row">Mot de passe : </th>
                            <td>********</td>
                        </tr>
                        <tr>
                            <th scope="row"> Pseudonyme : </th>
                            <td>{{ profil.pseudo }}</td>
                        <tr>
                            <th scope="row"> Né(e) le :</th> 
                            <td>{{ profil.birth|date('Y-m-d') }}</td>
                        <tr>
                            <th scope="row"> Crée le : </th>
                            <td> {{ profil.createdAt|date('Y-m-d') }}</td>
                    </table>
                </div>
            </div>
            <div class="d-grid gap-2 col-2 mx-auto">
                <a href= "{{ path('ferrovipath_user_modify', {'id': profil.idUser}) }}" class="btn btn-secondary">Modifier</a>
                <a href= "{{ path('ferrovipath_user_delete', {'id': profil.idUser}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de supprimer?')">Supprimer le compte</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}